<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CWSSoap">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
            <customBinding>
                <binding name="CWSSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://test.redline.co.uk/AUTOMONEY/TRIAL/NewBusinessWS/cws.asmx"
                binding="basicHttpBinding" bindingConfiguration="CWSSoap"
                contract="CWSSoap" name="CWSSoap" />
            <endpoint address="https://test.redline.co.uk/AUTOMONEY/TRIAL/NewBusinessWS/cws.asmx"
                binding="customBinding" bindingConfiguration="CWSSoap12" contract="CWSSoap"
                name="CWSSoap12" />
        </client>
    </system.serviceModel>
</configuration>